.Experience {
  color: black;
  width: 100%;
  min-height: 100vh;

  position: sticky;
  top: 0;
  z-index: 3;
  padding: 20px;
  background-color: var(--blue);

  &__headerSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__filterButtons {
      gap: 10px;
      display: flex;

      button {
        font-size: 0.9rem;
        padding: 5px;
        cursor: pointer;
        border-radius: 10px;
        border: 2px solid rgb(0, 0, 0, 0);
      }
    }
  }

  &__cardContainer {
    margin-top: 1rem;
    // gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__card {
    gap: 3rem;
    width: 100%;
    display: flex;
    padding-block: 0.5rem;
    flex-direction: row;
    border-bottom: 1px solid #9257ff;

    &__left {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }
    &__right {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: start;
    }

    &__left {
      width: 25%;

      &__role,
      &__duration {
        font-size: 12px;
        white-space: nowrap;
      }
      &__role {
        display: none;
        text-align: center;
      }

      &__img {
        border-radius: 50%;
        height: 100px;
        width: 100px;
      }
      a {
        color: black;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      &__orgName {
        white-space: nowrap;
        display: flex;
        align-items: center;
      }
    }

    &__right {
      width: 75%;

      &__responsibility {
        font-size: small;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .Experience {
    &__cardContainer {
      display: grid;
      gap: 1rem;
      padding-inline: 30px;
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    }

    &__card {
      padding: 0;
      padding: 0.5rem;
      padding-top: 1rem;
      background: #fff;
      border-radius: 1rem;

      &__left {
        width: 100%;
        &__img {
          border-radius: 50%;
          height: 70px;
          width: 70px;
        }
        &__role {
          display: block;
        }
      }

      &__right {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .Experience {
    padding: 10px;

    &__headerSection {
      &__filterButtons {
        button {
          font-size: 0.65rem;
        }
      }
    }

    &__card {
      font-size: 0.5rem;
      &__right {
        &__role {
          font-size: 1rem;
        }
      }
      &__left {
        a {
          font-size: 1rem;
        }
      }
    }
  }
}
