.Introduction {
  width: 50%;
  height: 100vh;

  z-index: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  &__text {
    height: 100vh;
    display: flex;
    padding-inline: 30px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &__great {
      animation: animate 1.5s ease-in-out 0s forwards;
    }

    &__about {
      font-size: 1.6rem;
      letter-spacing: 0.5px;
      &__name {
        color: var(--blue);
      }
    }
    &__button {
      all: unset;

      cursor: pointer;
      margin-top: 4vh;

      a {
        padding: 5px 20px;
        font-size: 1.1rem;
        color: var(--blue);
        text-decoration: none;
        border: 2px solid var(--blue);
        border-radius: 15px;

        &:hover {
          color: rgb(40, 40, 52);
          background-color: var(--blue);
          transition: all 0.5s ease;
        }
      }
    }
  }
}

@keyframes animate {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 820px) {
  .Introduction {
    width: 100%;
    min-height: 100vh;

    position: sticky;
    top: 0;
  }
}

@media screen and (max-width: 450px) {
  .Introduction {
    flex-direction: column;
    &__text {
      flex-direction: column;
      padding-inline: 30px 0px;
      &__great {
        font-size: 2rem;
      }
      &__about {
        font-size: 1.4rem;
      }
      &__button {
        a {
          font-size: 1rem;
          padding: 3px 10px;
        }
      }
    }
  }
}
