* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --blue: rgb(151, 147, 255);
  --grey: rgb(24, 24, 47);
}
body {
  color: white;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  background-color: var(--grey);
  font-family: "Konkhmer Sleokchher", cursive;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: var(--grey);
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 0.5rem;
}
